/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Oct-2016, 13:14:29
    Author     : Jaakko
*/
body {
    margin: 0x;
    width: 100%;
    height: 100%;
    
}

.customer-main-container{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.customer-actions-container {
    padding: inherit;
    float: left;
    width: 50%;
    height: auto;
}

.customer-display-container {
    padding: inherit;
    float: left;
    width: 50%;
}

.tab-content {
    padding: 10px;
}

.collapse {
}

.container-bottom {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

#tab-display-harjoitus, #tab-display-viestit, #tab-display-welcome {
    position: absolute;
}
#demo {
    padding: 10px;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    color: white;
    background-color: #76A5FF;
    letter-spacing: 2px;
    text-shadow:
    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.nav-pills > li.active > a:hover {
    background-color: #0073A3;
    color:white;
    letter-spacing: 2px;
    text-shadow:
    -0.5px -0.5px 0 #000,  
     0.5px -0.5px 0 #000,
    -0.5px 0.5px 0 #000,
     0.5px 0.5px 0 #000;
}
	
a.my-tool-tip, a.my-tool-tip:hover, a.my-tool-tip:visited {
    color: blue;
}

	
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 70%;
      margin: auto;
}