/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25-Oct-2016, 13:14:29
    Author     : Jaakko
*/
body {
    margin: 0x;
    width: 100%;
    height: 100%;
    
}

.customer-main-container{
    height: 100%;
    width: 100%;
    padding-top: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.customer-actions-container {
    padding: inherit; 
    float: left;
    width: 50%;
    height: auto;
}

.customer-display-container {
    padding: inherit;
    float: left;
    width: 50%;
}

.tab-content {
    padding: 10px;
}
